
  
  <div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.input :name, placeholder: "(例)あいう病院" %><br>
    <%= f.input :address, placeholder: "(例)東京都" %><br>
    <%= f.input :tel, placeholder: "(例)0123456789", input_html: { value: '' } %><br>
    <br />
    <div>
    <%= link_to_remove_association "病院を追加しない", f , class:"btn btn-outline-success"%></div>
  </div>
</div>