
  
  <div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.input :name, placeholder: "(例)あいう病院" %><br>
    <%= f.input :address, placeholder: "(例)東京都" %><br>
    <%= f.input :tel, placeholder: "(例)012-345-6789" %><br>
    <br />
    <div class="btn btn-outline-success">
    <%= link_to_remove_association "病院を削除する", f %></div>
  </div>
</div>