<h1>日記</h1>

<%= link_to 'みんなの日記を見る', diaries_path, class:'button item' %><br />
<%= link_to '日記を書く', new_diary_path, class:'button item' %><br />
<%= link_to 'お気に入りの日記一覧',  favorites_path, class:'button item' %>