<h1>わたしの家族</h1>

<table>
  <thead>
    <tr>
      <th>家族名</th>
      <th>家族の写真</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.name %><p>家</p></td>
        <td><%= image_tag family.image.url, size: '400x300'%></td>
        <td><%= link_to 'この家族のページへ', family %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しい家族を作成する', new_family_path %>
