<div class="row">
  <div class="col-md-1 col-lg-1"></div>
  <div class="mains col-xs-12 col-sm-12 col-md-7 col-lg-7">
    <div class="top_menu_introduction">
        <h1>始めてみましょう</h1>

        <h2>デジタル健康手帳の使い方</h2>
        <p>
          <ul>
            <li><strong>一、</strong> 毎日の健康状態を記録できます。<br>&emsp; &thinsp; &thinsp;
              数値はグラフ化されるので、変化が一目でわかります。<br><li>
            <li><strong>二、</strong>  かかりつけ医・かかりつけ薬局・服薬歴・既往歴・アレルギーなど<br>&emsp; &thinsp; &thinsp;
            病院を受診する上で欠かせない情報を登録できます。<br><li>
            <li><strong>三、</strong> あなたとご家族しか見れない日記を残してみませんか？<br>&emsp; &thinsp; &thinsp;
            あなたの知恵や経験、その目に映る日常の美しい瞬間はきっと、<br>&emsp; &thinsp; &thinsp;
            家族やこれから生まれてくる世代のための<br>&emsp; &thinsp; &thinsp;
            デジタルヘリテージとなります。<li>
          </ul>
        <p>
    </div>
  </div> 

<% unless user_signed_in? %>
  <div class="mains options col-xs-12 col-sm-12 col-md-4  col-lg-4">
    <div class="btn btn-border"><%= link_to "新規登録", new_user_registration_path %></div><br>
    <div class="btn btn-border"><%= link_to "ログイン", new_user_session_path %></div>
  </div>
<% else %>
  <div class="mains options col-xs-12 col-sm-12 col-md-4  col-lg-4">
    <h4>現在<%= "#{current_user.login_name}" %>でログイン中です</h4>
  </div>
<% end %>

</div>
<%# <h1>説明動画</h1> %>

