

<h1>始めてみましょう</h1>

<h2>毎日の健康状態を記録しておくことができ、<br>
その数値はグラフで見ることができます。<br>
かかりつけ医・かかりつけ薬局・服薬歴・既往歴・アレルギーの有無など<br>
病院を受診する上で欠かせない情報を登録できます。<br>
そして、あなたとご家族しか見れない日記を残してみませんか？<br>
あなたの知恵や経験、その目に映る日常生活の美しい瞬間はきっと、<br>
家族やこれから生まれてくる世代のためのデジタルヘリテージとなります。</h2>

<br>
<br>
<body>
<%= link_to "新規登録", new_user_registration_path %><br>
<%= link_to "ログイン", new_user_session_path %>
</body>

<h1>説明動画</h1>