body{
  padding:0;
  margin:0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('back.jpg');
  background-size: cover;
}

.content {
  flex: 1;
  margin: 3rem;
  font-family: 'Shippori Mincho', serif !important;
}

header {
  height: auto;
  background-color: #3e214c;
  font-family: 'Shippori Mincho', serif !important;
  min-width:100vw;
}

header a {
  text-decoration: none;
  color: azure;
  margin-left: 1rem;
}

footer {
  margin-top: auto !important;
  bottom: 0;
}

.footer p {
  text-align: center;
}

html{
  text-align: center;
}

ul {
  list-style: none;
}

input[type="text"] {
  width: 400px;
  height: 60px;
}


input[type="password"] {
  width: 300px;
  height: 40px;
}

.to_right{
  margin-top: 1rem;
  text-align: right;
}
.top_menu_introduction{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin-right: 0;
  text-align: left;
	display: inline-block;
  max-width: 95vw;
}
.top_menu_introduction ul{
  margin-left: 3%;
}

.top_menu_introduction li{
  padding-left: 3%;
  font-size: larger;
}
.mains{
  padding-top: 2rem;
}

.options{
  display: block;
}

.mains .btn{
  padding: 1rem;
  margin: 2rem;
}

.btn-border {
  border: 2px solid #122c49 !important;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
}

.btn-border a {
  text-decoration: none;
  color: #122c49;
  font-size: large;
  text-align: center;
  display: inline-block;
}

.btn-border:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}

.actions{
  margin-top: 1rem;
}

.confirm_account{
  margin-top: 2em;
  margin-bottom: 0.5em;
}